<!DOCTYPE html>
<html class="no-js" lang="en">
<head>


    <title>Shout Out Strong</title>
    


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style_about.css">


<title>
  OFA
</title>

</head>

<body>
    <h1>WHO ARE WE</h1>
    <p id="us">We are a group of teenage entrepreneurs creating an organization that will mainly focus on raising awareness on sexusal assaults and creating a strong and united front that will help reduce the problem and hopefully ending it.
Our goal is to make people think about their actions and reconsider their legitimacy. On this website we will have every piece of information about us and our organization, including lectures and our products. </p>
<div class="container">
        <div class="row">
            <div class="col-sm">
<h3>VISION</h3>
<p>We envision everyone in our region would feel safe, take ownership of their own body and feel secure that people would respect them. </p>
</div>
<div class="col-sm">
<h3>MISION</h3>
<p>Our movement aim is to create a strong and united front of people who want the sexual assault phenomena to end. We want to encourage victims to share their own stories and ask our supporters to participate in rallies, that would raise awareness to the subject. </p>
</div>
</div>
</div>
<h2>MEET THE TEAM</h2>
 <div class="container">
        <div class="row">
          <div class="col-sm-4">
<div class="card" style="width: 18rem;">
  <img src="../static/images/team/mohammad.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Mohammad Alsharif</h5>
    <p class="card-text">programer</p>
  </div>
</div>
</div>
            <div class="col-sm-4">
<div class="card" style="width: 18rem;">
  <img src="../static/images/team/shelly.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Shelly Beider</h5>
    <p class="card-text">programer</p>
  </div>
</div>
</div>
          
          <div class="col-sm-4">
<div class="card" style="width: 18rem;">
  <img src="../static/images/team/gilad.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Gilad Schurr</h5>
    <p class="card-text">uxer</p>
  </div>
</div>
</div>
</div>
  <div class="row">
    <div class="col-sm-4">
<div class="card" style="width: 18rem;">
  <img src="../static/images/team/rakan2.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Rakan Darwish</h5>
    <p class="card-text">uxer</p>
  </div>
</div>
</div>
<div class="col-sm-4">
<div class="card" style="width: 18rem;">
  <img src="../static/images/team/rakan2.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Jawzal Sheikh Khalil</h5>
    <p class="card-text">project manager</p>
  </div>
</div>
</div>
<div class="col-sm-4">
<div class="card" style="width: 18rem;">
  <img src="../static/images/team/rahaf.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Rahaf Sabri</h5>
    <p class="card-text">project manager</p>
  </div>
</div>
</div>
</div>
<div class="row">
  <div class="col-sm-4">
<div class="card" style="width: 18rem;">
  <img src="../static/images/team/waseem.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Waseem Lawen</h5>
    <p class="card-text">designer</p>
  </div>
</div>
</div>
  <div class="col-sm-4">
<div class="card" style="width: 18rem;">
  <img src="../static/images/team/shira.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Shira Maybruch</h5>
    <p class="card-text">designer</p>
  </div>
</div>
</div>
  <div class="col-sm-4">
<div class="card" style="width: 18rem;">
  <img src="../static/images/team/waseem.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Tamara Hashimeh</h5>
    <p class="card-text">designer</p>
  </div>
</div>
</div>
  </div>
    <div class="col-sm">
<div class="card" style="width: 18rem;">
  <img src="." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Shay Lee</h5>
    <p class="card-text">uxer</p>
  </div>
</div>
</div>
</div>




</body> 