<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <title>Shout Out Strong</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">



<title>
  OFA
</title>
</head>
<body>
		<p class=title1>Our Products<p>
		<div class=row>
			{% for product in products%}
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="{{url_for('static', filename='images/sexual.jpg')}}">
        <div class="card-body">
        <a href="/product/{{product.id}}" class="card-title">{{product.name}}</a>
        <p class="card-text">{{product.color}}, {{product.price}}, {{product.info}}</p>
        </div>
    </div>
  </div>
			{% endfor%}

		</div>

</body>

</html>